<p>Hello {{ fullName }},</p>
<p>It looks like you haven't paid your contribution yet. Please do so as soon as possible.</p>

<p>
  To pay, please login to your account :
  <button>
    <a href="https://causeconnect.fr/login">Login</a>
  </button>
</p>


<p>Thank you for your support.</p>